# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Serverless
.serverless/
.webpack/
.slsnextbuild/

# TypeScript
*.tsbuildinfo
dist/
build/
out/
.build/

# Env
.env
.env.*

# VSCode
.vscode/

# MacOS
.DS_Store

# IDEs
.idea/

# Logs
logs/
*.log

# Coverage
coverage/

# AWS credentials (si por error están en tu repo)
.aws/
